.review{
    background-color: rgb(248, 248, 248);
    padding:20px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    box-shadow: 0px 5px 5px gray;
}
.review h3{
    margin: 0px;
}